* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Section produtos */
.produtos {
  width: 100vw;
  height: 220vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border: 2px solid #FFFFFF;
  margin-top: 3%;
}

/* Titulo dos produtos */
.produtos .titulo-produtos {
  color: #0a0a0a;
  font-size: 50px;
  text-align: center;
  letter-spacing: 1px;
}

/*Descrição dos produtos na paarte frontal do Card */
.produtos .desc-produtos h2{
  color: #FFFFFF;
  font-size: 20px;
 }
.desc-produtos p {
  color: #FFFFFF;
}

/*Container dos produtos, separados por linhas de 3 produtos, card-produtos referente a primeira linha, card-produtos2 referente a 2 e 3 linha*/
.card-produtos, .card-produtos2 {
  display: flex;
  align-items: center;
  width: 90vw;
  height: 25%;
  cursor: pointer;
  margin-top: 5%;
  
}

/* Container referente a 2 e 3 linha dos produtos*/
.card-produtos2{
  margin-top: 10%;
}

/*Container referten aos cards, linha de 3 cards */
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  width: 70%;
  height: 90%;
}

/* Referente aos cards individuais dos produtos*/
.front,
.back {
  height: 100%;
  width: 60%;
  background-color: #e6e9f2;
  display: flex;
  padding: 2%;
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: all 1s ease;
  border-radius: 80px 80px;
  
}

/* Parte frontal dos cards*/
.front{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: rotateY(0deg);
  border: 2px solid #FFAA00;
  background: linear-gradient(to right, #303e6b, #bd8e38);
  -webkit-animation:color-change-2x 2s linear infinite alternate both;
  animation:color-change-2x 2s linear infinite alternate both;
}

/*Referente a parte de tras dos cards*/
.back {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transform: rotateY(180deg);
}

/*Imagem na parte frontal dos cards*/
.front img {
  height: 60%;
}

/*Linha seprando imagem do texto frontal do card*/
.front .line{
  width: 100%;
  border-bottom: 1px solid #FFFFFF;
  margin: 15% 0 5% 0;
}

/*Titulo na parte de tras do card*/
.back h5 {
  text-decoration: underline 5px #FFAA00;
  color: #000000;
  font-size: 24px;
}

/*Descrição do produto na parete de tras do card*/
.back p {
  color: #191919;
 font-size: 14px;
}

/*Animação dos cards Front/Back*/
.card:hover .front {
  transform: rotateY(-180deg);
}
.card:hover .back {
  transform: rotateY(0deg);
}

/*Container dos botoes*/
.container-botoes{
  display: flex;
  justify-content: space-around;
  width: 90vw;
}

/*Container Botoes*/
.bt {
  width: 15%;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  justify-content: space-evenly;
}

/* Botões individuais*/
.bt button {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
  border: 2px solid #00FF15;
  color: #FFFF;
  display: flex;
  align-items: center;
  width: 80%;
  height: 40px;
  justify-content: space-between;
  background-color: #FFFF;
}

/*Icone do Botaão "WhatsAPP"*/
.bt .icon {
  background-color: #00FF15;
  padding: 20px;
  width: 40%;
  z-index: 2;
  color: #FFFF;
}

/*Texto do Botão*/
.bt span {
  padding: 0px 10px;
  color: #000000;
  transition: all .3s ease .5s;
  z-index: 2;
}

/*Animação do Botão*/
.bt button:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #00FF15;
  transform-origin: right;
  transition: all .7s ease;
  z-index: 1;
  transform: scale(0, 1);
}
.bt button:hover:after {
  transform: scale(1, 1);
}


/*Hover do texto do Botão*/
.bt button:hover span {
  color: #0a0a0a;
  font-weight: 600;
}


/*Container da Section Sobre */
.sobre {
  height: 65vh;
  display: flex;
  align-items: center;
  padding: 3% ;
  background-color: #0a53a7;
  margin-top: 7% ;
}

/*Imagem da Section Sobre*/
.sobre img {
  width: 25%;
  border-radius: 30%;
  border: solid 5px #FFAA00;
  margin-right: 30px;
  cursor: pointer;
  background-color: #e6e9f2;
}

/*Container dos textos da section Sobre*/
.info-sobre{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

/*Titulo da section sobre*/
.sobre div h2 {
  color: #FFAA00;
  font-size: 36px;
}

/*Texto da section Sobre*/
.sobre div p {
  color: #FFAA00;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 30px;
}


