* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 0px;
  background-image: radial-gradient(circle at 50% -20.71%, #9fa9ff 0, #c787ff 25%, #8f6cd8 50%, #5c51a9 75%, #31397e 100%);
}

img{
  width: 5vw;
  height: auto;
  border-radius: 60px;
  border: solid 1px black;
}

span h2 {
  color: red;
}

span {
  color: #ffffff;
}


li {
  color: #ffffff;
  list-style: none;
  display: inline-block;
  font-size: 25px;
  margin-right: 30px;
  cursor: pointer;

}

li a {
  text-decoration: none;
  color: white;
}


li a:hover {

  color: yellow;
  transition: 0.5s;
}


header{
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 70vh;

}


.carrossel{
  display: flex;
  gap: 5px;
  box-shadow: 2px 2px 4px #000000;
  overflow: hidden;
  height: 59vh;
  width: 30vw;
  border-radius: 25px;
  
}

.container{
  display: flex;
  align-items: center;
  transition: transform 0.6s ease-in-out;
  transform: translateX(0);
}

.logo-carro{
  object-fit: cover;
  height: 59vh;
  width: 30vw;
  border-radius: 25px;
}