*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;
  
}
body {
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    color: #141414;
    list-style: none; 
   

    }
    

section  {
    
    padding: 35px;
    text-decoration: none;
    display: flex;
   justify-content: center;
    background-color: rgba(150, 150, 150, 0.833);
    list-style: none;
  
}
section a {
   background-color: rgb(242, 238, 235);
   
}

footer {  
    padding: 15px;
    text-decoration: none;
   display: flex;
   justify-content: center;
   background-color: rgba(0, 0, 0, 0.712);
   list-style: none;
   align-items: center;

}

a {
   padding:0 20px;

}
